/*// Globals \\*/
$primary-font: 'Source Sans Pro', sans-serif;
$background-color: #FAFAFA;
$highlight-blue: #3599D5;
$primary-color: #605F59;
$title-gray: #4D4A46;
$nav-primary-link: #7A7773; 
$nav-text-gray: #C8C7BD;
$nav-link-hover: #3498DB;
$nav-link-active: #3498DB;

* {
	font-family: $primary-font;
	line-height: 1.4em;
	background-color: $background-color;
}


 /*// Body \\*/
body {
	background-color: $background-color;
	color:$primary-color;
}
h1, h3 {
	color: $title-gray;
}
h2, h5, h6, p {
	color:$primary-color;
}
h4 {
	color:$highlight-blue;
}
.layout-section div {
	padding: 0;
}
.side-nav p {
	color:$nav-text-gray;
}


/*// Side NavBar \\*/
$include-html-nav-classes: true;

.side-nav {
  display: block;
  font-family: $primary-font;
  list-style-position: outside;
  list-style-type: none;
  margin: 0.75;
  padding: 0.75rem 0; }
  .side-nav li {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 0rem 0; }
    .side-nav li a:not(.button) {
      color: $nav-primary-link;
      display: block;
      margin: 0;
      padding: 0rem; }
      .side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
        background: rgba(0, 0, 0, 0.025);
        color: $nav-link-hover }
      .side-nav li a:not(.button):active {
        color: $nav-link-active }
    .side-nav li.active > a:first-child:not(.button) {
      color: $nav-link-active;
      font-family: $primary-font;
      font-weight: normal; }
    .side-nav li.divider {
      border-top: 1px solid;
      height: 0;
      list-style: none;
      padding: 0;
      border-top-color: none; }
    .side-nav li.heading {
      color: $nav-primary-link;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase; }